<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>About Us</title>
  <link rel="stylesheet" href="about.css">
</head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="index.html">WordCount</a>
      </div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="aboutus.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
  <section class="about-us">
    <div class="about">
      <img src="https://img.freepik.com/vecteurs-libre/illustration-concept-atelier-codage_114360-8112.jpg?size=626&ext=jpg" class="pic">
      <div class="text">
        <h2>About Us</h2>
        <h5>Front-end Developer & <span>Designer</span></h5>
          <p>Our word counter project is the result of collaborative efforts by a dedicated team of four college students <b>(Shivam, Sejal, Shivanshi, Shivika)</b> who share a passion for web development. We embarked on this journey with the goal of creating a user-friendly tool that simplifies the task of counting words. Our motivation stems from the everyday need for such a tool in academic and professional writing. Throughout the development process, we harnessed our skills in front-end technologies to craft this simple yet efficient word counter. We are excited about the possibilities for its future growth and aim to continue enhancing its features. Thank you for visiting our project, and feel free to reach out to us with any feedback or inquiries.</p>
        <div class="data">
        <a href="contact.html" class="hire">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>